/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff5722;
  padding: 15px 40px;
}

.navbar h2 {
  color: white;
}

.nav-links {
  display: flex;.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#ff6b35;
    color:white;
    list-style:none;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:30px;
    
}

.cartBtn{
    background:white;
    color:#ff6b35;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}
  gap: 20px;
  list-style:none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  
} */






.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:#111;
}

.logo h2{
    color:#fff;
    margin:0;
}

.nav-links{
    display:flex;
    gap:35px;      /* This separates the links */
    align-items:center;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#ff5722;
}