.cart-page{
    min-height: 100vh;
    background-color: #ffe8d6;   /* Choose any color */
    
}


.cart-page h1{
    text-align: center;
    color: #30140a;
    margin-bottom: 30px;
}

.empty-cart{
    text-align: center;
    color: #050505;
    margin-top: 100px;
}